
/**
 * Google AdWords
 */

.logo[data-logo="AdWords"] {
  width: 6.262792398em;
  /* (171.35/27.36) * (1) - 0 */
}

.logo[data-logo="AdWords"] > * {
  background-image: url(images/logo.svg);
  margin: .075em 0 -.075em 0;
}

.logo[data-logo="AdWords"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="AdWords"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
